@media screen and (min-width: 1024px) {
  .none-1024 {
    display: none;
  }

  #nav-top-1024 {
    padding: 0;
  }

  .nav-top ul li {
    font-size: 14px;
  }

  #nav-sub-1024 {
    margin-left: 0;
  }

  .yellow-bar-1024 {
    margin-left: -5.2rem;
  }

  .cover-bg-1024 {
    height: 30rem;
    background-image: linear-gradient(
        160deg,
        rgba(255, 0, 0, 1),
        rgba(92, 53, 9, 0.6),
        rgba(0, 0, 0, 0.8)
      ),
      url(images/astronauts.png);
  }

  .cover-bg-1024 img {
    width: 50%;
    margin-left: 1rem;
    margin-bottom: 8rem;
  }

  .thumbnails .thumb-items,
  .funding .funding-item {
    grid-column: span 3;
  }

  .none-768-fund {
    display: grid;
  }

  #display-1024-item {
    display: block;
  }

  .latest-deals-title,
  .funding-title {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .funding-title ul li {
    display: inline;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid #f42;
  }

  .story .story-item {
    grid-column: span 4;
  }
}

@media screen and (min-width: 768px) {
  .display-768,
  .display-768-nav {
    display: block;
  }

  .none-768 {
    display: none;
  }

  .nav-top ul {
    padding-left: 5.3rem;
    font-size: 12px;
  }

  .nav-sub ul {
    margin-left: 5.3rem;
  }

  .nav-sub-logo {
    position: absolute;
    z-index: 1;
    top: -2rem;
    left: -0.1rem;
    padding: 1rem;
    min-width: 5%;
    height: 100%;
  }

  .nav-sub-icons {
    margin-top: 0.3rem;
  }

  .yellow-bar h5 {
    margin-left: 6.5rem;
    text-align: left;
  }

  .cover {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }

  .cover-bg-1024 h2 {
    font-size: 50px;
  }

  .side-up {
    grid-column: 3;
  }

  .side-down {
    grid-column: 3;
  }

  .thumb-items,
  .funding-item {
    grid-column: span 4;
  }

  .story-item {
    grid-column: span 6;
  }
}
