@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
  .mobile-main {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .nav-dark {
    display: none;
  }

  .nav-light {
    display: none;
  }
}
